<section class="plays-well">

    <p>Witty talking points that speak about me as a tool/api.</p>

    <div class="container">
        <i class="ion ion-network"></i>
        <h2>Integration</h2>
        <p class="intro">Culpa id exercitation non ullamco aliqua ea et quis ut magna non qui id laborum proident duis.</p>
    </div>

    <div class="">
        <i class="ion ion-thumbsup"></i>

        <h2>Plays nicely with others</h2>
        <p>Id voluptate ut laborum exercitation velit labore officia ad ea.</p>
    </div>

    <div class="">
        <i class="ion ion-settings"></i>
        <h2>Developer friendly</h2>
        <p>Pariatur irure tempor excepteur quis velit veniam magna duis et sunt deserunt.</p>
    </div>
</section>
