.prev-next-container {
    background: linear-gradient(to right, #16222A , #3A6073);

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        @include outer-container();

        li {
            @media #{$small} {
                @include span-columns(5);

                &:first-child {

                }

                &:last-child {
                    @include shift(2);
                    text-align: right;
                }
            }
        }
    }

    a {
        color: $white;
        display: block;
        padding: $line-height-ratio+em;
        text-decoration: none;



        @media #{$medium} {
            padding: $line-height-ratio+em 0;
        }

        h2 {
            color: $white;
			display: inline-block;
            font: 100 1.5em/1.5 $sans-serif;
			position: relative;

			&:after {
				background: rgba(204, 255, 0, .5);
				content: '';
				display: block;
				height: 6px;
				width: 0;
				position: absolute;
				top: 1em;
				transition: 200ms;
			}
        }

		&:hover h2:after {
			width: 100%;
		}

        p {
            font-weight: 100;
            margin-bottom: 0;
			transform: translate3d(0);
			transition: 300ms;
        }

		&:hover p {
			transform: translateY(-3px);
		}

        .eyebrow {
            font-size: 11px;
            text-transform: uppercase;
        }
    }
}
