@mixin postIcon ($bgcolor, $textcolor, $shadowcolor1, $shadowcolor2, $shadowcolor3, $shadowcolor4) {
	background: $bgcolor;
	box-shadow: -3px 3px $shadowcolor1, 3px -3px $shadowcolor2, 2px -3px $shadowcolor3, 2px 3px $shadowcolor4;
	color: $textcolor;

	&:hover {
		box-shadow: -5px 5px $shadowcolor1, 5px -5px $shadowcolor2, 4px -5px $shadowcolor3, 4px 5px $shadowcolor4;
	}
}

abbr.post-icon {
	border-radius: 50%;
	cursor: pointer;
	display: inline-block;
	font-size: 11px;
	letter-spacing: 1px;
	line-height: 61px;
	width: 58px;
	height: 58px;
	text-align: center;
	text-transform: uppercase;
	transition: .15s;

	&[title] {
		border-bottom: none;
		text-decoration: none;
	}

	&.post--productivity {
		@include postIcon(#3498db, #fff, #e67e22, #f1c40f, rgba(52,73,94,0.2), rgba(52,73,94,0.3));
	}

	&.post--css {
		@include postIcon(#3498db, #fff, #e67e22, rgba(241, 196, 15, .95), rgba(52, 152, 219, 0.2), rgba(52, 152, 219, 0.3));
	}

	&.post--design {
		@include postIcon(#34495e, #b9c9d8, #e67e22, #f1c40f, rgba(52, 73, 94, 0.2), rgba(52, 73, 94, 0.3));
	}

	&.post--markup {
		@include postIcon(#e74c3c, #fff, #e67e22, #f1c40f, rgba(231, 76, 60, 0.2), rgba(231, 76, 60, 0.3));
	}
}
